  .container {
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }

  .login_left{
    align-items: center;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
    max-width: 450px;
    max-height: 500px;
    background-color: #a9cce3;
    /* border: 2px solid white; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .login_right{
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 100px;
    display: inline-block;
    margin-top: 30px;
    max-width: 450px;
    max-height: 500px;
    background-color: #eafaf1;
    /* border: 2px solid #eafaf1; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  /* @media screen and (max-width: 300px){
    .login_right{
      display: none;
    }
  } */

  .container_login{
    height: 400px;  
    margin-bottom: 5px;
    text-align: center;
  }

  .container_quiz{
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: -20px;
    height: 520px;
    width: 50%;
    background-color:  #a9cce3 ;
  }

  .container_left{
    margin-top: 40px;
    float: left;
    height: 480px;
    width: 50%;
    font-family: "Lexend Deca";
    font-size: 0.8em;
  }

  .container_right{
    margin-top: 40px;
    width: 50%;
    height: 480px;
    font-family: "Lexend Deca";
    font-size: 0.8em;
  }

.survey_title{
  padding-top: 20px;
  font-family: "Lexend Deca";
}

.question{
  margin-top: 5px;
  text-align: left;
  margin-left: 20px;
}

.nb_input{
  text-align:center;
  width: 50px;
}


input{
  margin-bottom: 16px;
}

.next_btn {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  position: fixed;
  width: 80px;
  height: 40px;
  overflow: hidden;
  border: none;
  border-radius: 30px;
  background: #e8e8e8;
  font-family: "Lexend Deca";
  color: #3C3C3D;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  
}

.next_btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #fff,
             inset -4px -4px 12px #ffffff;
}

.next_btn:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  content: 'Next';
  transition: all .3s;
  
}

.next_btn:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  background-color: #e8e8e8;
  left: 0;
  width: 100%;
  height: 100%;
  content: 'Go';
  transition: all .3s;
}

.next_btn:hover {
  color: #3C3C3D;
  border: 1px solid #e8e8e8;
}

.next_btn:hover:before {
  top: -60px;
}

.next_btn:hover:after {
  top: 0;
}

.result1 {
  position: relative;
  margin-right: 20px;
  display: inline-block;
  margin-top: 30px;
  max-width: 450px;
  border: 1px solid grey;
  max-height: 400px;
  background-color: #eafaf1;
}

.result2 {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  max-width: 450px;
  border: 1px solid grey;
  max-height: 400px;
  background-color: #eafaf1;
}

.result3 {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  max-width: 450px;
  border: 1px solid grey;
  max-height: 400px;
  background-color: #eafaf1;
}

.settings_label{
  display: inline;
  font-family: "Lexend Deca";
  font-size: 0.9em;
}

.category{
  margin-top: 70px;
  float: left;
  text-align: left;
  margin-left: 30px;
  font-family: "Lexend Deca";
  font-size: 0.7em;
}

.response{
  margin-top: 70px;
  margin-right: 160px;
  float: right;
  font-family: "Lexend Deca";
  font-size: 0.7em;
}

.category2{
  margin-top: 55px;
  float: left;
  text-align: left;
  margin-left: 30px;
  font-family: "Lexend Deca";
  font-size: 0.7em;
}

.response2{
  margin-top: 70px;
  margin-right: 160px;
  float: right;
  font-family: "Lexend Deca";
  font-size: 0.7em;
}

.category3{
  margin-top: 55px;
  float: left;
  text-align: left;
  margin-left: 30px;
  font-family: "Lexend Deca";
  font-size: 0.7em;
}

.response3{
  margin-top: 60px;
  margin-right: 40px;
  float: right;
  font-family: "Lexend Deca";
  font-size: 0.7em;
}


/* Style the custom slider */
.custom-slider {
  color:"success";
  width: 100px;
  height: 20px;
  float: right;
}

.my_avatar{
  margin-left: 10px;
  margin-top:50px ;
  float:left;
  height:150px;
  width:145;
}

.center {
  margin-bottom: 5px;
  text-align: center;
  }

  .hi{
    font-family: "Lexend Deca";
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #3C3C3D;
  }

  .welcome{
    font-family: "Lexend Deca";
    font-size: 2em;
    color:#1A523C;
  }

/* ------ SETTINGS PAGE --------- */


.settings_page{
  height: 100%;
  width: 100%;
  top: 10px;
  scroll-behavior: auto;
  background-color: #eafaf1;
  font-family: "Lexend Deca";
  z-index: 1;
  overflow-x: hidden;

}

.settings_input{
  font-family: "Lexend Deca";
  font-size: 18px;
  text-align: left;
  margin-left:10px;
  padding: 5px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 1em;
  border: 2px solid #054A2F;
  align-items:center;
  width: 50px;
}

.settings_save_btn{
  font-size: 0.8em;
  margin-top: 8px;
  margin-left: 5px;
  padding-left: 0.4em;
 padding-right: 0.4em;
 padding-top: 0.1em;
 padding-bottom: 0.1em;
}

.settings_title{
  padding-top: 40px;
}

.variable_text{
  color: #1A523C;
}

.container_toggle {
  text-align: center;
}

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #a9cce3;
  color: #fff;
}
.inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}
