
/* DARK N LIGHT THEME */
.switch_mode{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey_btn{
  margin-left: 680px;
}

#light{
  background-color: #eafaf1;
}

#dark{
  background-color: #030f27;
  color: white;
}

#dark .survey_btn{
  background-color:  #34495e;
  box-shadow: 3px 3px 6px #5d6d7e,
  -3px -3px 6px #5d6d7e;
}

#dark .register_btn{
  background-color:  #34495e;
  box-shadow: 3px 3px 6px #5d6d7e,
  -3px -3px 6px #5d6d7e;
}

#dark .login_btn{
  background-color:  #34495e;
  box-shadow: 3px 3px 6px #5d6d7e,
  -3px -3px 6px #5d6d7e;
}

#light .welcome{
  color: #030f27;
}

#dark .welcome{
  color: white;
}

#dark .container_quiz{
  text-align: center;
  background-color:  #34495e ;
}


#dark .navbar{
  height: 50px;
  width: 100%;
  text-decoration: none !important;
  margin-bottom: 20px;
  background-color: #030f27;
}

#dark .container_navbar{
  background-color: #030f27;
}

#dark .navbar ul li{
  color: white;
}

/* .App-header {
  background-color:#61dafb ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.home_pic{
    margin-left: 150px;
    margin-top:120px ;
    float:left;
    height:380px;
    width:360;
}


.btn {
  margin-top: 20px;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
  color: #ffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em; /*to round the corner of the shape */
  background: #77C5A6;
  border: 1px solid #77C5A6;
  /* box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff; */
}

.btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #e8e8e8;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn:hover {
  color: #093545;
  border: 1px solid #e8e8e8;
}

.btn:hover:before {
  top: -35%;
  background-color: #e8e8e8;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn:hover:after {
  top: -45%;
  background-color: #e8e8e8;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn_switch, .btn_logout{
  margin-top: 8px;
  margin-right: 10px;
  float: right;
}

.register_btn{
 margin-left: 650px;
}

.App-link {
  color: #61dafb;
}


h1{
  padding-bottom: -20px;
  color: #054A2F;
  font-size: 2em;
  font-family: "Lexend Deca";
}

.login_page{
  margin-top: -50px;
  height: 89.7%;
}

.container_login{
  background-color: #e0eaf5;
  width: 500px;
  height: 400px;
  margin: auto;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page_name{
  padding-top: 50px;
  margin-top: 50px;
  padding-bottom: 10px;
  color: #054A2F;
  font-size: 2em;
  font-family: "Lexend Deca";
}

.click_here{
  color: #093545;
  font-size: 17px;
  padding-bottom: 5px;
}

.welcome{
  font-family: "Lexend Deca";
  font-size: 1.7em;
  color: #030f27;
}

.text {
  font-family: "Lexend Deca";
  font-size: 1em;
  padding-bottom: 20px;
}

.app_title{
  font-size: 1em;
  font-family: "Lexend Deca";
  text-transform: uppercase;
  color: #054A2F;
  position: absolute;
  top:30px;
  left: 55px;
}

.logo{
  height: 45px;
  width: 45px;
  position: absolute;
  top:10px;
  left: 5px;
}

.background{
  background-image: 
  url(
"https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=2000");
  background-size: cover;
  height: 88vh;
  margin-top: -150px;
  background-repeat:repeat; 
}

.email_input,
.password_input{
    font-family: "Lexend Deca";
  font-size: 18px;
  width : 300px;
  height: 25px;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 1em;
  border: 2px solid #054A2F
}

.email_input_error,
.password_input_error{
  font-size: 18px;
  width : 300px;
  height: 25px;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 1em;
  border: 2px solid  rgb(122,12,22)
}

.email_input:hover{
  background-color: #e8e8e8;
}

.password_input:hover{
  background-color: #e8e8e8;
}

.error{
  font-size: 12px;
  font-weight:500;
  color: rgb(122,12,22);
  margin-top: -12px;
  margin-bottom: -10px;
  margin-left: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}